* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #eafaf1;
}
.page {
  font-size: 20px;
  padding: 5% 10%;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: beige;
  color: cadetblue;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.notfound {
  margin-left: 10px;
}
.return-btn {
  display: inline-block;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 4px;
  border: none;
  color: cadetblue;
  background-color: beige;
}
.return-btn:hover {
  background-color: cadetblue;
  color: azure;
}
.logginpage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
}
.log-title {
  color: #145a32;
}
.label {
  font-size: 20px;
  color: #145a32;
}
.login-btn {
  display: inline-block;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
  margin-left: 10px;
  border-radius: 4px;
  border: none;
  color: cadetblue;
  background-color: beige;
}
.login-btn:hover {
  background-color: cadetblue;
  color: azure;
}
.login-input {
  font-size: 20px;
}
.logout-btn {
  display: inline-block;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
  margin-left: 10px;
  border-radius: 4px;
  border: none;
  color: cadetblue;
  background-color: beige;
  margin-bottom: 20px;
}
.logout-btn:hover {
  background-color: cadetblue;
  color: azure;
}
